<!-- <p>home works!</p> -->
<section id="home" class="home">
    <div class="container">
      <div class="intro">
        <h1>Hi, I'm <span class="name">Bhargavi Chauhan</span></h1>
        <p class="tagline">Crafting digital experiences with precision and purpose.</p>
        <h2 class="role">Full Stack Developer.</h2>
        <div class="cta">
          <button (click)="getInTouch()">Get in Touch</button>
          <button (click)="downloadResume()">Get CV</button>
        </div>
      </div>
    </div>
  </section>
  