<!-- <p>about works!</p> -->
<section id="about" class="about">
    <h2>About Me</h2>
    <div class="about-content">
      <div class="profile-image">
        <img src="/assets/mypic.jpeg" alt="Bhargavi Chauhan">
    </div>
    <div class="about-text">
      <p>
        I am an aspiring Full Stack Developer currently pursuing  a B.Tech at VIIT, Pune. 
        I am passionate about creating intuitive and scalable web applications. With a keen eye for design and efficiency, 
        I enjoy turning ideas into impactful digital experiences.
      </p>

      <div class="education">
        <h3>Education</h3>
        <p><strong>B.Tech in AI and Data Science</strong><br>
        BRACT's Vishwakarma Institute of Information Technology, Pune<br>
        <span class="year">2022 - 2026</span></p>
      </div>
    </div>
    
      <div class="skills">
        <h3>Skills</h3>
        <div class="skill-list">
          <div class="skill">
              <img src="https://cdn.simpleicons.org/python" alt="Python Logo">
              Python
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/html5" alt="HTML Logo">
              HTML
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/css3" alt="CSS Logo">
              CSS
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/javascript" alt="JavaScript Logo">
              JavaScript
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/react" alt="React Logo">
              React
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/nodedotjs" alt="NodeJS Logo">
              NodeJS
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/tailwindcss" alt="Tailwind CSS Logo">
              Tailwind CSS
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/mysql" alt="MySQL Logo">
              SQL
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/mongodb" alt="MongoDB Logo">
              MongoDB
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/flask" alt="Flask Logo">
              Flask
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/git" alt="Git Logo">
              Git
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/github" alt="GitHub Logo">
              GitHub
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/postman" alt="Postman Logo">
              Postman
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/express" alt="ExpressJS Logo">
              ExpressJS
          </div>
          <div class="skill">
              <img src="https://cdn.simpleicons.org/angular" alt="Angular Logo">
              Angular
          </div>
      </div>
        <!-- <ul>
          <li>Web Design</li>
          <li>Frontend Coding</li>
          <li>Backend Tech</li>
          <li>Design Thinking</li>
          <li>Strategic Planning</li>
          <li>Creative Thinking</li>
        </ul> -->
      </div>
    </div>
</section>


 