<header>
  <nav class="navbar">
    <div class="logo">&lt;BC/&gt;</div>

    <ul class="nav-links" [ngClass]="{ 'active': isMenuOpen }">
      <li><a (click)="scrollToSection('home')">Home</a></li>
      <li><a (click)="scrollToSection('about')">About</a></li>
      <li><a (click)="scrollToSection('projects')">Projects</a></li>
      <li><a (click)="scrollToSection('contact')">Contact</a></li>
    </ul>

    <div class="hamburger" (click)="toggleMenu()" [ngClass]="{ 'active': isMenuOpen }">
      <span></span><span></span><span></span>
    </div>
  </nav>
</header>
