/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f7f7f7;
  color: #333;
}

/* Header Styles */
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1a1a1a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  cursor: pointer;
  text-decoration-line: underline;
  color: #70e000;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.2rem;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
}

/* Theme Toggle Button */
button[mat-icon-button] {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  color: #fff;
  transition: color 0.3s ease;
}

button[mat-icon-button] .mat-icon {
  font-size: 30px;
  transition: color 0.3s ease;
}

/* Hover Effect for Toggle Button */
button[mat-icon-button]:hover .mat-icon {
  color: #ff7f50;
}

/* Active Menu */
.nav-links.active {
  display: flex;
}

.nav-links li a {
  text-transform: capitalize;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 66px;
    right: 0;
    background-color: #1a1a1a;
    width: 250px;
    height:25vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
  }

  .hamburger.active span {
    background-color: #ff7f50;
    transition: all 0.3s ease;
  }
}

.hamburger.active{
  width: 5%;
}

/* Active (cross) state */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}